---
title: Landing 
---
.app-wrapper
  .navbar
    %h1
      Parking Assistant
  .content
    %h2
      Welcome to
      %span
        Rogers Cup<br/>
        Parking Assistant
    %h3
      Choose an option below.
    %ul
      %a{:href=>"#"}
        %li.reminder
          I want to go back to <strong>Where I Parked</strong>
      %a{:href=>"#"}
        %li.driving
          I want <strong>Driving Directions</strong> to my
          parking lot
      %a{:href=>"#"}
        %li.transit
          I have parked and want to <strong>Take a Shuttlebus</strong>
      %a{:href=>"#"}
        %li.walking
          I have parked and want <strong>Walking Directions</strong> to the venue
    .link
      %a{:href=>"#", :target=>"blank"} Aviva Centre Visitor Information